@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&display=swap');
:root{
  --color1: rgb(133, 110, 209);
  --colorblanco: aliceblue;
}
.contenedor_links{
  height: 80px;
  margin-top: 20px;
  text-align: center;
}

.link{
  font-size: 20px;
  display: inline-block;
  width: 70px;
  text-decoration: none;
  color: var(--colorblanco);
  padding: 20px;
  border: 2px dashed var(--colorblanco);
  border-radius: 30px;
  transition: 300ms;
}
.link:hover{
  background: var(--color1);
  border: 2px solid var(--colorblanco);
}


body {
  background: #333;
  padding: 0px 200px 0px 200px;
  color: aliceblue;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}


h2,
p {
  margin: 0px;
}
.contenedor {
  margin: 0;
  padding: 0px;
}
.card {
  height: 450px;
  width: 380px;
  border: 2px solid var(--color1);
  display: inline-block;
  margin: 10px;
  border-radius: 30% 30% / 80% 80%;
  transition: all 1s;
  background: silver;
}

img {
  margin: auto;
  height: 250px;
  display: block;
  text-align: center;
  padding: 15px;
}

h2{
  text-align: center;
  color:var(--color1)
  padding: 10px|;
}

p{
  padding: 30px;
  color: black ;
}

.card:hover{
  transform: scale(1.1);
  border: 5px var(--color1));
}