*{
    margin: 0;
    padding: 0;
}

.contenedor_links{
    height: 80px;
    margin-top: 20px;
    text-align: center;
  }
  
  .link{
    font-size: 20px;
    display: inline-block;
    
    text-decoration: none;
    color: black;
    padding: 20px;
    border: 2px dashed black;
    border-radius: 30px;
    transition: 300ms;
  }
  .link:hover{
    background: lightcoral;
    border: 2px solid black;
  }

h1{
    color: white;
    text-align: center;
    font-size: 6rem;
}

body{
    background-color: rgb(200, 19, 232);
}

@media (max-width: 900px){
    body{
        background: black;
    }
    h1{
        font-size: 3rem;
    }
}

@media (max-width: 500px){
    body{
        background: white;
    }
    h1{
        color: aquamarine;
        font-size: 3rem;
    }
}
