 *{
  margin: 0;
  padding: 0;
 }

 body{
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
 }

 .container{
  width: 450px;
  height: 530px;
  margin: 20px auto;
  border: 5px solid crimson;
  

 }
 .box{
  height: 100px;
  width: 100px;
  background: steelblue;
  border: 1px solid #000;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  line-height: 100px;
  color: aliceblue; 
 }
.stetic{
  position: static;
  top: 40px;
} 
.relative{
  position: relative;
  top: 0px;
  left: 200px;
}

.absolute{
position: absolute;
left: 0px;
top: 0px;
margin: 0px;
z-index: 0px;
}
.fixed{
  position: fixed;
  top: 0px;

}
/* .sticky{
  position: sticky;
  left: 0px;
  top: 0px;

} */