:root{
    --gradient: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
    --color_borde: #1d149e;
}

body{
    background: var(--gradient);
}

.titulo{
    color: rgb(70, 146, 146);
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
}
.nombre{
    font-size: 1rem;
    color: black ;
    text-align: center;
    margin-bottom: 50px;
}



.link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    color: aliceblue;
    margin: 3px;
    border: 2px solid var(--color_borde);
    width: 400px;
    border-radius: 20px;
    margin: 20px auto;
    transition: transform 500ms ;
    
}
.link:visited{
    color: rgb(51, 38, 100);
    background: #7edbdc ;
}

.link:hover{
    transform: scale(1.1);
    background: #828285;
}
