:root{
  --colorblanco: #f2f2f2;
  --colorazul: steelblue;
  --colorsalmon:#fb968b;
}
*{
  box-sizing: border-box;
}
*::selection{
  color: var(--colorsalmon);
}

body{
  background: var(--colorsalmon);
}

.contenedor_links{
  height: 80px;
  margin-top: 20px;
  text-align: center;
}

.link{
  font-size: 20px;
  display: inline-block;
  background: var(--colorblanco);
  text-decoration: none;
  color: black;
  padding: 20px;
  border: 2px dashed black;
  border-radius: 30px;
  transition: 300ms;
}
.link:hover{
  background: var(--colorazul);
  border: 2px solid black;
}

.card{
  width: 300px;
  margin: 40px auto;
  background: var(--colorblanco);
  padding: 20px;
  box-shadow: -20px -20px 0px 0px var(--colorazul);
  border-radius: 10px;
}
.card_titulo{
  text-align: center;
  margin: 14px 10px;
  margin-bottom: 10px;
}

.card_text::first-letter{
  color: var(--colorsalmon);
}

.card_text{
  text-transform: uppercase;
  margin: 10px auto;
  border-top: 0.1px;
  
}
.card_text::first-line{
  color: var(--colorazul);
  font-weight: bold;
  font-size: 2rem;
}

li{
  padding: 0;
  margin-bottom: 10px;

}
ul{
  margin-top: 20px;
  counter-reset: contador; 
   list-style: none;
   padding: 0px;

}
li::before{
  content: counter(contador);
  counter-increment: contador;
  background: var(--colorsalmon);
  color: aliceblue;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  line-height: 30px;
  margin-right:4px ;
}
ul{
  text-decoration: none;
}
.card_titulo::after,
.card_titulo::before
{
  content: "  ";
  color: var(--colorsalmon);
  display: block;
  height: 3px;
  background: var(--colorsalmon;

}





 /* *{
  margin: 0;
  padding: 0;
 }

 body{
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
 }

 .container{
  width: ;
  height: 530px;
  margin: 0 auto;
  border: 3px solid red

 }
 .box{
  
 } */